/* selector universal borra todos los margenes que agrega el navegador*/

*	{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: #000000 ;
	font-size: 15px;
	font-family: 'Krona One', sans-serif;
}

/*20 PX ARRIBA Y ABAJO Y AUTO PARA CENTRAR*/
header{
	width: 100%;
}

header img{
	width: 100%;
}

/* OCULTAR EL CONTENIDO QUE SOBREPASA EL CONTENEDOR -LIMPIA LOS FLOAT LEFT*/
nav{
	background-color:#99A3A4;
	margin: auto;
	font-size: 20px;
	margin-top: 50px;

}

.Menu-horizontal{
	list-style: none;
	display: flex;
	justify-content: space-around;
}

.Menu-horizontal > li > a{
	display: block;
	padding: 15px 20px;
	color: black;
	text-decoration: none;
} 

.Menu-horizontal > li:hover{
	background-color: #273746;
}

.Menu-vertical{
	position: absolute;
	display: none;
	list-style: none;
	width: 200px;
	background-color: rgba(0, 0, 0, .5);
}

.Menu-horizontal li:hover .Menu-vertical{
	display: block;
}

.Menu-vertical li:hover{
	background-color: black;
}

.Menu-vertical li a{
	display: block;
	color: white;
	padding: 10px 15px 15px 20px;
}

.main{
	width: 70%;
	background: #fff;
	margin-left: 15%;
	margin-right: 15%;
}

.articulos h2{
	text-align: center;
}

.articulos p{
	margin: 10px;
}


/* border-box, el ancho y el ato se calcula teniendo en cuenta el contenido y también el borde y el padding. 
Es decir, el border y el paddig están incluidos en el ancho y alto*/

/*CLEAR_ BOTH LIMPIAR EL FLOAT:LEFT;*/
footer{
	background: #D1D1D1;
	color: black;
	clear: both;
	padding: 10px 0px;
	text-align: center;
}

